<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link
      rel="icon"
      type="image/x-icon"
      href="https://cdn.glitch.global/5521eed1-df1a-4037-847f-9c3e9bd77d2c/template.png?v=1641406430241"
    />
   
    <title>{{site_title}}</title>

    <script
      type="text/javascript"
      src="https://pingsandboxsdk.singularkey.com/latest/singularkey.js" 
    ></script>
    
    <script>
      
    function. load
      const apiBaseURL = "{{base_url}}/v1";
      const companyId = "{{company_id}}";
      const policyId = "{{policy_id}}";
      const access_token = "{{access_token}}";

      var props = {
        config: {
          method: "runFlow",
          apiRoot: apiBaseURL,
          accessToken: access_token,
          companyId: companyId,
          policyId: policyId
        },
        useModal: false,
        successCallback,
        errorCallback,
        onCloseModal
      };
          
      /*** Invoke Singular Key Widget ****/
      singularkey.skRenderScreen(document.getElementsByClassName("skWidget")[0],props);
      
      function successCallback(response) {
        console.log(response);
      }

      function errorCallback(error) {
        console.log(error);
      }

      function onCloseModal() {
        console.log("onCloseModal");
      }

    </script>
    
  </head>
  
  <body>  
    <div id="widget" class="skWidget widget"></div>
    
    
  </body>
</html>
